<!-- <div *ngIf='!profile'>
  <label for="authToken">Token :</label>
  <input id="authToken" [(ngModel)]="authToken">
  <button (click)="getUser()">LOGIN</button>
  <span *ngIf='error'>{{error}}</span>
</div> -->

<div *ngIf="profile">
  <div>User name:{{profile.username}}</div>
  <div>User id: {{profile.userId}}</div>
  <button (click)="logout()">LOGOUT</button>
</div>

<div *ngIf='!profile'>
  <form>
    <mat-form-field appearance="fill">
      <mat-label for="authToken">Leave a Token</mat-label>
      <textarea matInput id="authToken" [(ngModel)]="authToken" placeholder="Token"></textarea>
    </mat-form-field>
    <button (click)="getUser()">LOGIN</button>
    <span *ngIf='error'>{{error}}</span>
  </form>
</div>